<div class="card">
  <%= link_to drug_path(drug.id), method: :get do %>
    <%= image_tag drug.image, class: :card__img if drug.image.attached?%>
  <% end %>
  <div class="card__body">
    <div class="card__name">
      <p class="detail_title">お薬名</p>
      <p class="detail_message">
        <%= drug.drug_name %>
      </p>
    </div>
    <div class="card__user">
      <p class="detail_title">処方日</p>
      <%= drug.day_id %>
    </div>
  </div>
</div>