<div class="wrapper">
  <div class="header">
    <div class="left_header">
      <div class="header-name">
        <%= link_to "お薬手帳", root_path, class: "main-header" %>
      </div>
    </div>
    <div class="right_header">
      <div class="greeting">
        <%= current_user.name %>
      </div>
    </div>
  </div>
</div>