<div class="wrapper">
  <div class="header">
    <div class="left_header">
      <div class="header-name">
        <a href="#">お薬手帳</a>
      </div>
    </div>
    <div class="right_header">
      <div class="greeting">
        <a href="#">名前</a>
      </div>
    </div>
  </div>
</div>