<div class="wrapper">
  <div class="header">
    <div class="left_header">
      <div class="header-name">
        <%= link_to "お薬手帳", root_path, class: "main-header" %>
      </div>
    </div>
    <div class="right_header">
      <% if user_signed_in? %>
        <div class="greeting">
          <%= link_to current_user.name, edit_user_path(current_user), class:"item-red-btn"%>
        </div>
      <% end %>
    </div>
  </div>
</div>
