<div class="wrapper">
  <div class="header">
    <div class="left_header">
      <div class="header-name">
        <%= link_to "お薬手帳", root_path, class: "main-header" %>
      </div>
    </div>
    <div class="right_header">
      <% if user_signed_in? %>
        <a class="item-red-btn" id="lists"><%=current_user.name%></a>
        <ul class="show-lists hidden" id="pull-down">
          <%= link_to edit_user_path(current_user) do %>
            <li class="show-list" id="pull-down-show">編集</li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
