<div class="header">
  <%= render "header" %>
</div>
<div class="home">
  <div class="home_left">
    <%= render "side_bar" %>
  </div>
  <div class="home_right">
    <div class="img-top">
      <%= image_tag "okusuri_techou.png" %>
    </div>
</div>
