<div class="header">
  <%= render "drugs/header" %>
</div>
<div class="home">
  <%= render "drugs/side_bar" %>
  <div class="home_right">
    <div id="map"></div>
  </div>
</div>

<script>
  var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), { 
        center: { // 地図の中心を指定
            lat: 34.7019399, // 緯度
            lng: 135.51002519999997 // 経度
        },
        zoom: 19 // 地図のズームを指定
      });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY']%>&callback=initMap"></script>