* {
  box-sizing: border-box;
}

.drugs-show-main {
  padding-top: 100px;
}

.drug-show-main {
  display: block;
  justify-content: flex-end;
  background-color: #FFF;
  width: 60vw;
  height: 100vh;
  min-width: 450px;
  padding: 10vh 15vw;
}

.drug_wrapper{
  min-height: calc(100vh - 161px);
  background-color: #f5f5f5;
  justify-content: center;
  display: flex;
  padding: 10px;
  background-color: #f5f5f5;
}
.drugshow-heading {
  font-size: 40px;
  height: 60px;
  border-bottom: 1px solid #6B8E23;
  position: absolute;
  left: 300px;
}
.drug_hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.drug_user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.drug_images{
  display: flex;
}
.show_drug_image{
  width: 50%;
  margin: 0 auto;
  padding: 16px 0;
}
.drug_detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail_title{
  font-size: 20px;
  font-weight: bold;
}
.drug_manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.drug_btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 8px;
}
.drug_btn:hover{
  color: #fff;
  background: #999;
}
