/* リセットCSS */
* {
  box-sizing: border-box;
}

html,
body,
ul,
li,
h1,
h2,
p,
div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #3b4043;
}


.header {
  background-color: #6B8E23;
  width: 100vw;
  height: 100px;
  display: flex;
}

.left_header {
  width: 50%;
  padding: 10px 0px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name {
  font-size: 50px;
  color: #FFFFFF;
  text-decoration: none;
}

.main-header {
  color: white;
}
.right_header {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.greeting {
  padding-right: 180px;
  font-size: large;
}

.home {
  width: 100vw;
  height: calc(100vh - 200px);
  background-color: #FFFFFF;
  display: flex;
}

.home_left {
  width: 250px;
  height: 100vh;
  background-color: #F0FFF0;
}

.side_bar {
  width: 250px;
}

.list{
  list-style: none;
  padding: 20px 20px 20px;
  font-size: 20px;
}

.home_right {
  width: calc(100vw - 250px);
  background-color: #FFFFFF;
  height: auto;
}

.home_new {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.page-heading {
  display: block;
  font-size: 50px;
  width: 200px;
  height: 70px;
  border-bottom: 1px solid #6B8E23;
  position: absolute;
  left: 300px;
}

.field_all {
  padding-top: 100px;
}
.field{
  margin: 10px 0;
  font-size: large;
}

.error-alert {
  display: flex;
  justify-content: center;
  margin-bottom: 5vh;
}

.error-message {
  font-size: 1.3vw;
  list-style: circle;
  color: rgb(182, 48, 0);
}

.img-top {
  position: absolute;
  left: 500px;
}
/* drug詳細ページ */
.drug_wrapper{
  min-height: calc(100vh - 161px);
}
.drugshow-heading {
  font-size: 40px;
  width: 300px;
  height: 60px;
  border-bottom: 1px solid #6B8E23;
}
.drug_hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.drug_user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}
.drug_image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.drug_detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail_title{
  font-size: 20px;
  font-weight: bold;
}
.drug_manage{
  display: flex;
  justify-content: center;
  padding-top: 16px;
}
.drug_btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 1em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 8px;
}
.drug_btn:hover{
  color: #fff;
  background: #999;
}

/* ユーザーページ */

/* タブレット対応 */
@media (max-width: 1024px) {
  .inner {
    width: 90%;
    margin: 0 auto;
  }
  .page-heading {
    font-size: 24px;
  }
  .card {
    width: 48%;
    margin-bottom: 40px;
  }
  .prototype_image{
    width: 60%;
  }
}

 /* スマホ表示 */
@media (max-width: 599px) {
  .logo {
    width: 120px;
  }
  .page-heading {
    font-size: 20px;
  }
  .card {
    width: 100%;
    margin-bottom: 60px;
  }
  .card__title {
    font-size: 18px;
  }
  .card__summary {
    font-size: 14px;
  }
  .prototype_image{
    width: 100%;
  }
  .table{
    width: 100%;
  }
}
